<!-- Footer -->
<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; 클라우드 네이티브 애플리케이션 개발자 양성</span>
			<script>
				function googleTranslateElementInit() {
					new google.translate.TranslateElement({
						pageLanguage: 'ko',
						includedLanguages: 'ko,en',
						//layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
						autoDisplay: false
					}, 'google_translate_element');
				}
				setTimeout(function () {
					$("select.goog-te-combo").addClass("tx-select-top");
				}, 1000);
			</script>
			<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			<div id="google_translate_element" class="hd_lang"
			style="float: right;position: relative;margin-left: 10px;"></div>
		</div>
	</div>
</footer>
<!-- End of Footer -->