<body id="page-top">

	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
			<img src="/img/chef.png" alt="footering" width="40" height="40">
			<div class="sidebar-brand-text mx-3"></div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active">
			<a class="nav-link" href="/home">
				<img src="/img/home.png" alt="footering" width="20" height="20">
				<span>&nbsp Home</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">
			멘토링
		</div>

		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo">
				<img src="/img/heart.png" alt="footering" width="20" height="20">
				<span>&nbsp 인기글</span>
			</a>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">카테고리</h6>
					<a class="collapse-item" href="/board/list">레시피 & 요리</a>
					<a class="collapse-item" href="/board2/list">조합추천</a>
				</div>
			</div>
		</li>

		<!-- Nav Item - Utilities Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
				aria-expanded="true" aria-controls="collapseUtilities">
				<img src="/img/search.png" alt="footering" width="20" height="20">
				<span>&nbsp 검색</span>
			</a>
			<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">카테고리</h6>
					<a class="collapse-item" href="/board">레시피 & 요리</a>
					<a class="collapse-item" href="/board2">조합추천</a>
				</div>
			</div>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">
			추천
		</div>


		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="/smarteditor">
				<img src="/img/file.png" alt="footering" width="20" height="20">
				<span>&nbsp 게시판</span>
			</a>
		</li>

		<!-- Nav Item - Charts -->
		<li class="nav-item">
			<a class="nav-link" href="/youtube">
				<img src="/img/youtube.png" alt="footering" width="20" height="20">
				<span>&nbsp Youtube</span></a>
		</li>

		<!-- Nav Item - Tables -->
		<li class="nav-item">
			<a class="nav-link" href="/famous">
				<img src="/img/recommend.png" alt="footering" width="20" height="20">
				<span>&nbsp 맛집추천</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">


		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>

		<!-- Sidebar Message -->
		<div class="sidebar-card d-none d-lg-flex">
			<img class="sidebar-card-illustration mb-2" src="/img/chat.png" alt="...">
			<p class="text-center mb-2"><strong>Chatting</strong><br>자신의 레시피를 공유보세요</p>
			<a class="btn btn-success btn-sm" href="/chat">click</a>
		</div>

	</ul>
	<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Topbar Search -->
				<!--<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
					<form action="/board/search" method="GET">
						<div class="input-group">
							<input type="text" name="keyword" class="form-control bg-light border-0 small" placeholder="Search for..."
								aria-label="Search" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" onclick="location.href='/board/search.html'">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
				</form>-->
				<div>&nbsp 푸터링 &nbsp Footering</div>

				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<!-- Nav Item - Search Dropdown (Visible Only XS) -->
					<li class="nav-item dropdown no-arrow d-sm-none">
						<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-search fa-fw"></i>
						</a>
						<!-- Dropdown - Messages -->
						<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
							aria-labelledby="searchDropdown">
							<form class="form-inline mr-auto w-100 navbar-search">
								<div class="input-group">
									<input type="text" class="form-control bg-light border-0 small"
										placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
									<div class="input-group-append">
										<button class="btn btn-primary" type="button">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</li>

					<!-- 구글 로그인 버튼 노출 영역 -->
					<div class="g-signin2" onclick='onSignIn()'></div>&nbsp &nbsp
					<a class="btn btn-success btn-sm" src="#" onclick="signOut();">logout</a>


					<script type="text/javascript">
						//처음 실행하는 함수
						function init(){
									gapi.load('auth2', function () {
									gapi.auth2.init();
									options = new gapi.auth2.SigninOptionsBuilder();
									options.setPrompt('select_account');
									// 추가는 Oauth 승인 권한 추가 후 띄어쓰기 기준으로 추가
									options.setScope('email profile openid https://www.googleapis.com/auth/user.birthday.read');
									// 인스턴스의 함수 호출 - element에 로그인 기능 추가
									// GgCustomLogin은 li태그안에 있는 ID, 위에 설정한 options와 아래 성공,실패시 실행하는 함수들
									gapi.auth2.getAuthInstance().attachClickHandler('GgCustomLogin', options, onSignIn, onSignInFailure);
								})

							}				
									
						
						function onSignIn(googleUser) {
							alert(googleUser);
							alert("dddd");
								var access_token = googleUser.getAuthResponse().access_token
								$.ajax({
									// people api를 이용하여 프로필 및 생년월일에 대한 선택동의후 가져온다.
									url: 'https://people.googleapis.com/v1/people/me'
									// key에 자신의 API 키를 넣습니다.
									, data: {personFields: 'birthdays', key: 'AIzaSyAz_K3tD3EjlGgRNhN1qB3-iAyxOypQXxw', 'access_token': access_token}
									, method: 'GET'
								})
									.done(function (e) {
										//프로필을 가져온다.
										var profile = googleUser.getBasicProfile();
										console.log(profile)
									})
									.fail(function (e) {
										console.log(e);
									})
							}
							
							function onSignInFailure(t) {
								console.log(t);
							}

					</script>
					<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>


				</ul>

				<!-- Scroll to Top Button-->
				<a class="scroll-to-top rounded" href="#page-top">
					<i class="fas fa-angle-up"></i>
				</a>

				<!-- Logout Modal-->
				<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
								<button class="close" type="button" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">Select "Logout" below if you are ready to end your current
								session.</div>
							<div class="modal-footer">
								<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
								<a class="btn btn-primary" href="login.html">Logout</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<!-- End of Topbar -->
		</div>
		<!-- End of Content Wrapper -->