<!DOCTYPE html>
<html lang="ko">

<head th:replace="/common/head">
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-inverse" th:replace="/common/nav"></nav>
		<div style="height: 400px;">
		<div style="text-align : center;">
			<img src="img/footering.jpg" width="358px" height="82px"/>
		</div><br>
		<form action="/board/search" method="GET">
			<div style="text-align : center;">
				<button id="search">검색하기</button>
				<input id="searchment" name="keyword" type="text" placeholder="검색어를 입력해주세요." />
				<button id="write">글쓰기</button>
			</div>
		</form>
		</div>
		<footer th:replace="common/footer"></footer>
	</div>
	<script>
		$("#write").click(function () {
			location = "/board2/write";
			return false;
		});
	</script>
</body>

</html>