<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head"></head>
<script type="text/javascript" src="smarteditor2/js/HuskyEZCreator.js"charset="utf-8"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-inverse" th:replace="common/nav"></nav>
		<textarea class="form=control" rows="20" id="bo_content">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면됩니다.</textarea>
		<!--<div class="jumbotron">
			<div class="container text-center">
				<form method="post" action="/userboard/write">
					<div class="form-group">
						<label for="title">Title:</label>
						<input type="text" class="form-control" name="title" id="title">
					</div>
					<div class="form-group">
						<label for="content">Content:</label>
						<textarea class="form-control" rows="5" name="content" id="content">
						</textarea>
					</div>
					<button type="button" id="complete" class="btn btn-primary btn-block">
						글쓰기
					</button>
				</form>
				<script>
					function googleTranslateElementInit() {
						new google.translate.TranslateElement({
							pageLanguage: 'ko',
							includedLanguages: 'ko,en',
							//layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
							autoDisplay: false
						}, 'google_translate_element');
					}
					setTimeout(function () {
						$("select.goog-te-combo").addClass("tx-select-top");
					}, 1000);
				</script>
				<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			</div>

			<div id="google_translate_element" class="hd_lang"
				style="float: right;position: relative;top: -4px;margin-left: 10px;"></div>
		</div>-->

		<footer th:replace="common/footer"></footer>
	</div><br><br>

	</nav>
</body>
<script>
	$("#complete").click(function () {
		$("form").submit();
		return false;
	});
</script>
<script type="text/javascript">
	var oEditors = [];
	nhn.husky.EZCreator.createInIFrame({
		oAppRef: oEditors,
		elPlaceHolder: "bo_content",
		sSkinURI: "smarteditor2/SmartEditor2Skin.html",
		fCreator: "createSEditor2"
	});
</script>

</html>